:root {
    --mainColor:#9e9e9e;
    --secondaryColor:white;
    --borderColor:#c1c1c1;
    --mainText: black;
    --secondaryText: #4b5156;
    --themedotBorder: rgb(9, 75, 114);
    --previewBg: #eecab170;
    --previewShadow: #c7ad65;
    --buttonColor: black;
}


html, body{
    padding: 0;
    margin: 0;
}

body * {
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Noto Serif', serif;
}

p, li, span, label, input, textarea {
    color: var(--mainText);
    font-family: 'Libre Baskerville', serif;
}

a {
    text-decoration: none;
    color: rgb(20, 104, 231);
}

ul {
    list-style: none;
}

h1 { font-size: 56px }
h2 { font-size: 36px }
h3 { font-size: 28px }
h4 { font-size: 24px }
h5 { font-size: 20px }
h6 { font-size: 16px }


.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    box-shadow: -1px 1px 3px 1px rgb(39, 28, 28);
    border-radius: 8px 8px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

#navigation a {
    color: var(--maintext);
}

#navigation {
    margin: 0;
    padding: 10px; 
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;    
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

#dot-one{
    background-color: aqua;
}

#dot-two{
    background-color: cadetblue;
}

#dot-three{
    background-color: dodgerblue;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    box-shadow: -1px 1px 3px 1px;
    margin: 5px;
}

.left-column {
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor)
}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
}

.theme-dot {
    margin: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid var(--themedotBorder);
    box-shadow: -1px 1px 3px 1px;
    cursor: pointer;
}

.theme-dot:hover {
    border-width: 5px;
}

#light-mode {
    background-color: white;
}

#blue-mode {
    background-color: rgb(0, 119, 255);
}

#green-mode {
    background-color: rgb(5, 151, 78);
}

#burgandy-mode {
    background-color: rgb(75, 5, 14);
}

#settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow {
    background-color: var(--previewShadow);
    width: 300px;
    height: 280px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 300px;
    border: 2px solid lightseagreen;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corners {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid lightseagreen;
    background-color: white;
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.social-links {
   display: grid;
   align-content: center; 
   text-align: center;

}

#gitHub {
    width: 25%;
}

#linkedin {
    width: 25%;
}

.post-wrapper {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
}

.post {
    border: 1px solid var(--borderColor);
    box-shadow: -1px 1px 3px 1px;
    border-radius: 3%;
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 3% 3% 0 0;
}

.post-preview {
    background-color: white;
    padding: 15px;
    border-radius: 0 0 3% 3%;
}

.post-title {
    color: black;
    margin: 0;
}

.post-intro {
    color: #4b5156;
    font-size: 16px;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 100px;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: var(--buttonColor);
    border: none;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'left-column' 
            'right-column'
        ;
    }

    .right-column {
        justify-content: center;
    }
}